 
  li{
    padding-top: 10px;
  } 
.App-Header{
      background-image: url("../../Assets/DashboardAsset/bg2.jpg");
      background-color: #cccccc;
     
     
      background-position: center; 
    background-repeat: no-repeat !important; 
    background-size: cover; 
   }
.col{
  padding: 0 !important;
}
 

  /* Color of the links BEFORE scroll */
/* Color of the links BEFORE scroll */
 