/* ScrollTopDemo.css */

.custom-scrolltop {
   
  width: 2rem;
  height: 2rem;
  border-radius: 1px;
  background-color: var(--primary-color) !important;
}
 
.custom-scrolltop:hover {
  background-color: var(--primary-color) !important;
}

.custom-scrolltop .p-scrolltop-icon {
  font-size: 1rem;
  color: var(--primary-color-text);
}

/*  
 
@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
} */