.footer {
  background-image: url("../../Assets/DashboardAsset/bg2.jpg");
  background-color: #cccccc;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover;
}
