body {
  margin: 0; 
  height: 100%;
  padding: 0;
  
  overflow-x: hidden;
  text-decoration: none;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'IRANSansWebFaNum_Medium';
  src: local('IRANSansWebFaNum_Medium'), url(./fonts/iransans/ttf/IRANSansWebFaNum_Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'IRANSansWebLight';
  src: local('IRANSansWebLight'), url(./fonts/iransans/ttf/IRANSansWebLight.ttf) format('truetype');
}
@font-face {
  font-family: 'IRANSansWeb';
  src: local('IRANSansWeb'), url(./fonts/iransans/ttf/IRANSansWeb.ttf) format('truetype');
}
 